<br>
<br>
<br>
<br>
<br>
<br>
      <button mat-raised-button (click)="openAddDialog()">Добавить</button>
<div class="form-group">
 <br><br>
<div style="text-align: center;">
<table class="features-table">
    <tr>
        <th>
            id
        </th>
        <th>
            gate name
        </th>
        <th>
            description
        </th>
        <th>
            type_id
        </th>
        <th>
            building_id
        </th>
        <th>
            active
        </th>
        <th>
            edit
        </th>
    </tr>
    <tr *ngFor = "let resp of responce | async">
        <td>
            {{resp.id | json}}
        </td>
        <td>
            {{resp.name | json}}
        </td>
        <td>
            {{resp.description | json}}
        </td>
        <td>
            {{resp.typeId | json}}
        </td>
        <td>
            {{resp.buildingId | json}}
        </td>
        <td>
            {{resp.active | json}}
        </td>
        <td>
            <a (click)="openEditDialog(resp)" class="button-5"><span class="link-content">Изменить</span></a>
        </td>
    </tr>
</table>
</div>